/* Arquivo css da página Exemplo div*/

#principal {
				margin: 10px 10px auto;
				width: 100%;
				max-width: 960px;
				}

	header{
			font-size: 25px;
			text-align:center; ;
			}



	p 	{
			font-family: "Verdana, Arial, Courier New"; <!-- Fontes as serem usadas -->

			font-size:20px; 
			color: rgb(#0000CD);
			<text-align: justify;
		}


			 ul{
				font-style: italic;
				font-size: 18px;
				}		

				<h1 {
					text-align: center;
					}
					

						#logo{
							margin: 10px 10px auto;
							width: 200PX;	 
							height:61px;
							  }

							  	#s1{
							  		width: 400px;
							  		position: relative;
							  		background-color: gray;
							  		padding-left: 10px;
							  		padding-top: 10px;
							  		padding-right: 10px;
							  		padding-bottom: 10px;



							  		}